/* RESET */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	color: #333;
}

/* LAYOUT */

section{
	padding: 2rem;
}
.container {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1rem;
}
#header {
	background-color: rgb(0, 162, 255);
	color: white;
	height: 80px;
	line-height: 80px;
}
#header > .container {
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
}
.row {
	margin-left: -1rem;
	margin-right: -1rem;
}
.col {
	padding: 1rem;
}
.card {
	border-radius: 20px;
	padding: 1rem;
}
.box-content {
	line-height: 60px;
}

.button {
	background-color: blue;
	border-radius: 20px;
	padding: 10px 20px;
	color: white;
	width: 170px;
}

section:nth-of-type(even).card {
	background-color: white;
	
}

section:nth-of-type(odd) .card {
	background-color:white;
	color: blueviolet;
	padding: 1rem;
}

#benefits{
	background-color: blueviolet;
}

/* SECTION */
#intro .col {
	margin: 1rem 0;
	padding: 1rem;
}
#intro .card {
	background-color: cyan;
	color: #333;
	width: 100%;
	padding: 1rem;
}
#intro .card-section img {
	width: 100%;
}
#planning .card {
	background-color: white;
	padding: 1rem;
}
#planning {
	background-color: blueviolet;
	padding: 1rem;
	width: 100%;
}
#planning .box-content img {
	max-width: 100%;
}
#planning .col:last-child {
	display: flex;
	align-items: flex-end;
}
#testimonials .card {
	background-color: blueviolet;
	padding: 1rem;
	margin-bottom: 1rem;
}
#testimonials .card-media {
	margin: 20px auto;
	width: 150px;
	border-radius: 50%;
	aspect-ratio: 1;
	padding: 5px 5px;
	line-height: 150px;
	text-align: center;

} 
#testimonials .card-media img {
	width: 150px;
	border-radius: 50%;
	aspect-ratio: 1;
	margin: 20px auto;
}
#testimonials .col{
	text-align: center;
	padding: 10px;
	
}



/* RESPONSIVE  TABLET*/
@media screen and (min-width: 576px) {
	#intro .row {
		display: flex;
		flex-wrap: wrap;
	}
	#intro .col {
		display: flex;
		width: calc(100% / 3);
	}
	#intro .col:first-child {
		width: calc(100% / 3 * 2);
	}
	#benefits .col{
		width: 50%;
	}
	#benefits .row{
		display: flex;
		flex-wrap: wrap;
	}
	#testimonials .card{
		display: flex;
	}
	
	#testimonials .card-text{
		flex-grow: 1;
	}

}
/* RESPONSIVE DESKTOP */
@media screen and (min-width: 992px) {
	.container {
		max-width: 1180px;
	}
	#intro .col:first-child .card {
		display: flex;
	}
	#intro .card > .card-section {
		width: 50%;
	}

	#planning .row {
		display: flex;
 }
 #planning .col{
	width: 50%;
 }
 #benefits .col{
	width:calc(100% / 3);
}
