/* RESET */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* LAYOUT */
.container {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1rem;
}
#header {
	background-color: rgb(0, 162, 255);
	color: white;
	height: 80px;
	line-height: 80px;
}
#header > .container {
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
}
.row {
	margin-left: -1rem;
	margin-right: -1rem;
}
.col {
}

/* SECTION */
#intro .col {
	margin: 1rem 0;
	padding: 1rem;
}
#intro .card {
	background-color: red;
	width: 100%;
	padding: 1rem;
}

/* RESPONSIVE */
@media screen and (min-width: 576px) {
	#intro .row {
		display: flex;
		flex-wrap: wrap;
	}
	#intro .col {
		display: flex;
		width: calc(100% / 3);
	}
	#intro .col:first-child {
		width: calc(100% / 3 * 2);
	}
	#intro .col:first-child .card {
		display: flex;
	}
	#intro .card > .card-section {
		width: 50%;
	}
}

@media screen and(min-width:992px) {
	.container {
		max-width: 1180px;
	}
}
